@using ApexCharts
@using FinanceManager.Domain.Entities.MoneyFlowModels;

<div class="card" style="height:@Height;">
    <div class="row m-0">
        <div class="card-body">
            <div class="container-fluid d-flex flex-column h-100 px-1">
                <div class="col px-0">
                    <h5 class="card-title">Spendings</h5>
                    @if (ChartData.Any())
                    {
                        <h6 class="card-subtitle mb-2 text-muted">@TotalSpending @_currency</h6>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-fill" style="height:1px;">
        <div class="h-100" style="position:relative; bottom:-2px">
            @if (_isLoading)
            {
                <ChartSpinner />
            }
            else if (ChartData.Any())
            {
                <ApexChart @ref="_chart" TItem="TimeSeriesModel" Height="@("100%")" Options="_options" XAxisType="XAxisType.Datetime">
                    <ApexPointSeries TItem="TimeSeriesModel"
                                     Items="ChartData"
                                     Name="Spending"
                                     XValue="@(e => e.DateTime.ToLocalTime())"
                                     YValue="e=> e.Value"
                                     SeriesType="SeriesType.Area" />
                </ApexChart>
            }
            else
            {
                <div class="d-flex flex-grow-1 justify-center align-content-center flex-wrap">
                    <MudText Typo="Typo.button" HtmlTag="h3">No data</MudText>
                </div>
            }
        </div>
    </div>
</div>