<MudCard Outlined Class="d-flex flex-nowrap " Style="@($"height:{Height};")">
    <MudPaper Class="flex-grow-0 p-3" Elevation="0">
        <MudText Typo=Typo.h5>Spending</MudText>
    </MudPaper>
    <MudPaper Class="flex-grow-1 overflow-auto" Elevation="0">
        @if (Data.Any())
        {
            <ul class="list-group list-group-flush">
                @foreach (var entry in Data)
                {
                    <li class="list-group-item">
                        @entry.ExpenseType - @entry.Value @currency
                    </li>
                }

            </ul>
        }
        else
        {
            <div class="d-flex flex-grow-1 justify-center align-content-center flex-wrap">
                <MudText Typo="Typo.button" HtmlTag="h3">No data</MudText>
            </div>
        }
    </MudPaper>
</MudCard>