
<div class="container">
	<div class="row g-1">

		<div class="col-9">
			<div class="row justify-content-center g-1">
				<div class="col-6">
					<NetWorthOverview></NetWorthOverview>
				</div>

			 	<div class="col-6">
					<SpendingOverview></SpendingOverview>
				</div>
				
				<div class="col-6">
					<IncomeOverview></IncomeOverview>
				</div>

				<div class="col-6">
					<IncomeSourceOverview></IncomeSourceOverview>
				</div>

			</div>


		</div>

		<div class="col-3">

			<SpendingCathegoryOverview></SpendingCathegoryOverview>

		</div>


		<div class="col-12">
			<div class="row g-1">
				<div class="col-4">
					<IncomeVsSpendingOverview></IncomeVsSpendingOverview>
				</div>

				<div class="col-5">
					<AssetsOverview></AssetsOverview>
				</div>
			</div>
		</div>
	</div>
</div>