@using ApexCharts
@using FinanceManager.Core.Repositories

@inject IBankAccountRepository bankAccountRepository;


<div class="card" style="height:300px;">
	<div class="card-body">
		<div class="container-fluid d-flex flex-column h-100">
			<div class="row">
				<div class="col px-0">
					<h5 class="card-title">Income & expenses</h5>
				</div>
			</div>

			<div class="row flex-fill" style="height:1px;">
				<div class="h-100">
					<ApexChart @ref="chart" Height="@("100%")" TItem="IncomeVsSpendingEntry" Options="options">


						<ApexPointSeries TItem="IncomeVsSpendingEntry"
										 Items="Data"
										 Name="Income"
										 XValue="@(e => e.Date)"
										 YValue="e=> e.Income"
										 SeriesType="SeriesType.Area" />

						<ApexPointSeries TItem="IncomeVsSpendingEntry"
										 Items="Data"
										 Name="Spending"
										 XValue="@(e => e.Date)"
										 YValue="e=> e.Spending"
										 SeriesType="SeriesType.Area" />

					</ApexChart>
				</div>
			</div>
		</div>
	</div>
</div>




@code {

	string height = "100%";
	private ApexChart<IncomeVsSpendingEntry> chart;

	private ApexChartOptions<IncomeVsSpendingEntry> options { get; set; } = new()
		{
			Colors = new List<string> { "#00FF00", "#FF0000" },
			Fill = new Fill
			{
				Type = new List<FillType> { FillType.Gradient, FillType.Gradient },
				Gradient = new FillGradient
				{
					ShadeIntensity = 1,
					OpacityFrom = 0.2,
					OpacityTo = 0.9,

				},
			}

		};

	[Parameter]
	public string Height { get; set; } = "300px";

	[Parameter]
	public List<IncomeVsSpendingEntry> Data { get; set; } = new List<IncomeVsSpendingEntry>();

	protected override async Task OnInitializedAsync()
	{
		options.Chart = new Chart
			{
				Toolbar = new ApexCharts.Toolbar
				{
					Show = false
				},

			};


		options.Xaxis = new XAxis()
			{
				AxisTicks = new AxisTicks()
				{
					Show = false,
				},
				AxisBorder = new AxisBorder()
				{
					Show = false
				},
				Position = XAxisPosition.Bottom,
				Type = XAxisType.Datetime

			};

		options.Yaxis = new List<YAxis>();

		options.Yaxis.Add(new YAxis
			{
				AxisTicks = new AxisTicks()
				{
					Show = false
				},
				Show = false,
				SeriesName = "NetValue",
				DecimalsInFloat = 0,

			});

		await Task.Run(() =>
		{

			var bankAccounts = bankAccountRepository.Get(new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1), DateTime.Now).Where(x => x.Entries.Any());

			foreach (var account in bankAccounts)
			{
				foreach (var entry in account.Entries)
				{
					var dataEntry = Data.FirstOrDefault(x => x.Date == entry.PostingDate.Date);
					if (dataEntry is null)
					{
						var newDataEntry = new IncomeVsSpendingEntry() { Date = entry.PostingDate.Date };
						if (entry.BalanceChange < 0)
						{
							newDataEntry.Spending = -entry.BalanceChange;
						}
						else
						{
							newDataEntry.Income = entry.BalanceChange;
						}

						Data.Add(newDataEntry);
					}
					else
					{
						if (entry.BalanceChange < 0)
						{
							dataEntry.Spending -= entry.BalanceChange;
						}
						else
						{
							dataEntry.Income += entry.BalanceChange;
						}
					}

				}
			}
			Data = Data.OrderBy(x=>x.Date).ToList();

		});
	}


	// protected override async Task OnParametersSetAsync()
	// {
	// 	if (chart is null) return;

	// 	await chart?.UpdateSeriesAsync(true);
	// }
	public class IncomeVsSpendingEntry
	{
		public DateTime Date;
		public decimal Income;
		public decimal Spending;
	}

}

