@using ApexCharts
@using FinanceManager.Core.Repositories

@inject IBankAccountRepository bankAccountRepository;


<div class="card">
	<div class="card-body">
		<h5 class="card-title">Income</h5>
		<h6 class="card-subtitle mb-2 text-muted">$99</h6>

		<ApexChart @ref="chart" TItem="SpendingOverviewEntry" Height="100" Options="options">


			<ApexPointSeries TItem="SpendingOverviewEntry"
							 Items="Data"
							 Name="Income"
							 XValue="@(e => e.Date)"
							 YAggregate="@(e => e.Sum(e => e.Value))"
							 SeriesType="SeriesType.Line" />

		</ApexChart>
	</div>
</div>




@code {
	private ApexChart<SpendingOverviewEntry> chart;

	private ApexChartOptions<SpendingOverviewEntry> options { get; set; } = new();

	[Parameter]
	public List<SpendingOverviewEntry> Data { get; set; } = new List<SpendingOverviewEntry>();

	protected override async Task OnInitializedAsync()
	{
		options.Chart = new Chart
			{
				Toolbar = new ApexCharts.Toolbar
				{
					Show = false
				},

			};


		options.Xaxis = new XAxis()
			{
				AxisTicks = new AxisTicks()
				{
					Show = false,
				},
				AxisBorder = new AxisBorder()
				{
					Show = false
				},
				Position = XAxisPosition.Bottom,
				Type = XAxisType.Datetime

			};

		options.Yaxis = new List<YAxis>();

		options.Yaxis.Add(new YAxis
			{
				AxisTicks = new AxisTicks()
				{
					Show = false
				},
				Show = false,
				SeriesName = "NetValue",
				DecimalsInFloat = 0,

			});

		await Task.Run(() =>
		{
			var bankAccounts = bankAccountRepository.Get().Where(x => x.Entries.Any());

			foreach (var account in bankAccounts)
			{
				foreach (var entry in account.Entries.Where(x => x.BalanceChange > 0))
				{
					var dataEntry = Data.FirstOrDefault(x => x.Date == entry.PostingDate.Date);
					if (dataEntry is null)
					{
						Data.Add(new SpendingOverviewEntry()
							{
								Date = entry.PostingDate.Date,
								Value = entry.BalanceChange
							});
					}
					else
					{
						dataEntry.Value += entry.BalanceChange;
					}

				}
			}
			Data = Data.OrderBy(x => x.Date).ToList();
		});
	}


	// protected override async Task OnParametersSetAsync()
	// {
	// 	if (chart is null) return;

	// 	await chart?.UpdateSeriesAsync(true);
	// }
	public class SpendingOverviewEntry
	{
		public DateTime Date;
		public decimal Value;
	}

}

