@using ApexCharts
@using FinanceManager.Core.Entities
@using FinanceManager.Core.Repositories
@using FinanceManager.Core.Services

@inject IBankAccountRepository bankAccountRepository;
@inject ISettingsService settingsService;

<div class="card" style="height:@Height;">
	<div class="card-body">
		<h5 class="card-title">Total net worth</h5>
		<h1 class="card-subtitle mb-2 text-muted">@TotalNetWorth @currency</h1>
	</div>
</div>



@code {
	private string currency = "";
	IEnumerable<BankAccount> bankAccounts;
	decimal TotalNetWorth = 0;

	[Parameter]
	public string Height { get; set; } = "300px";

	[Parameter]
	public DateTime StartDateTime { get; set; }

	// protected override async Task OnInitializedAsync()
	// {
	// 	currency = settingsService.GetCurrency();
	// 	await Task.Run(() =>
	// 	{
	// 		bankAccounts = bankAccountRepository.Get(GetTimeStart(), DateTime.Now);
	// 		TotalNetWorth = bankAccounts.Where(x => x.Entries.Any()).Sum(x => x.Entries.Last().Balance);

	// 	});
	// }
	protected override async Task OnParametersSetAsync()
	{
		currency = settingsService.GetCurrency();
		await Task.Run(() =>
		{
			bankAccounts = bankAccountRepository.Get(StartDateTime, DateTime.Now);
			TotalNetWorth = bankAccounts.Where(x => x.Entries.Any()).Sum(x => x.Entries.Last().Balance);

		});
	}
	

}

