<MudCard Outlined Class="d-flex flex-nowrap" Style="@($"height:{Height};")">
    <MudPaper Class="flex-grow-0 p-3" Elevation="0">
        <MudText Typo=Typo.h5>Assets per type</MudText>
        @if (_data.Any())
        {
            <MudText Typo=Typo.h6 Class="mb-2 text-muted">@_totalAssets @_currency</MudText>
        }
    </MudPaper>
    <MudPaper Class="flex-grow-1 overflow-auto" Elevation="0">
        @if (_isLoading)
        {
            <div style="height:100%">
                <ChartSpinner MaxHeight=@Height />
            </div>
        }
        else if (_data.Any())
        {
            <MudChart ChartType="ChartType.Pie" InputData="@_data" InputLabels="@_labels" Width="100%" Height="100%" 
            ChartOptions=_chartOptions AxisChartOptions=_axisChartOptions Class="p-3" />
        }
        else
        {
            <div class="d-flex flex-grow-1 justify-center align-content-center flex-wrap">
                <MudText Typo="Typo.button" HtmlTag="h3">No data</MudText>
            </div>
        }
    </MudPaper>
</MudCard>