@page "/AccountDetails/{AccountId:int}"
@using FinanceManager.Core.Entities.Accounts
@using FinanceManager.Components.Components.AccountDetailsPageContents
@using FinanceManager.Components.Components.AccountDetailsPageContents.BankAccountComponents
@using FinanceManager.Components.Components.AccountDetailsPageContents.StockAccountComponents

@if (accountType is null)
{
    <DisplaySpinner />
}
else
{
    <div class="container-fluid px-0" @ref=MyElementReference>
        @if (ErrorMessage != string.Empty)
        {
            <div class="alert alert-warning" role="alert">
                @ErrorMessage
            </div>
        }
        else if (accountType == typeof(BankAccount))
        {
            <BankAccountDetailsPageContent AccountId="@AccountId" />
        }
        else if (accountType == typeof(InvestmentAccount))
        {
            <StockAccountDetailsPageContent AccountId="@AccountId" />
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @accountType type is not supported.
            </div>
        }
    </div>
}
