@page "/Investments"

<PageTitle>Investments</PageTitle>

<div class="container">
    <h3>Investments</h3>

    <div class="row">
        <div class="col-sm-12 col-lg-8 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Investments value over time - Time series</h5>
                    <ChartSpinner/>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4  p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Investments distribution pie chart</h5>
                    <ChartSpinner></ChartSpinner>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6  p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Repayment and forecast - Time series</h5>
                    <ChartSpinner/>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Real estate - Time series</h5>
                    <ChartSpinner/>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Crypto - Time series</h5>
                    <ChartSpinner/>
                </div>
            </div>
        </div>
    </div>
</div>
