@using FinanceManager.Components.Components.Charts
@using FinanceManager.Components.Components.Dashboard

<MudText Typo="Typo.h3" Class="mx-2" style="position: absolute; z-index: 50; display: inline-block;">@Ticker.ToUpper()</MudText>
<LineChartJs Series="@([_stockPrices.Select(x => new ChartJsLineDataPoint(x.Date.ToLocalTime(), x.PricePerUnit)).ToList()])" />

<DashboardDatePicker StockStyle DateChanged=DateChanged InitialDateRange=_dateRange />

<MudContainer Class="mt-3">
    <MudGrid>
        <MudItem xs="12" md="6">
            <MudStack Row>
                <MudTextField @bind-Value="Ticker" Label="Ticker" Variant="Variant.Text" />
                <MudButton @onclick=GetStockPriceAsync>Apply</MudButton>
            </MudStack>
        </MudItem>

        <MudItem xs="12" Class="mt-2">
            <MudText Typo="Typo.h4">Missing stock prices</MudText>
        </MudItem>

        <MudItem xs="12">
            <MudGrid>
                <MudItem xs="6">
                    <div class="d-flex flex-grow-1 gap-4">
                        @if (string.IsNullOrEmpty(_existingCurrency))
                        {
                            <MudAutocomplete @bind-Value="_selectedCurrency" Label="Currency" Variant="Variant.Text" SearchFunc="Search" Class="flex-grow-0" Disabled=@(string.IsNullOrEmpty(Ticker)) />
                            <MudTextField Immediate @bind-Value="_pricePerUnit" Label="Price per unit" Variant="Variant.Text" Class="flex-grow-1" Disabled=@(string.IsNullOrEmpty(Ticker)) />
                        }
                        else
                        {
                            <MudTextField Immediate @bind-Value="_pricePerUnit" Adornment="Adornment.Start" AdornmentText="@_existingCurrency" Label="Price per unit" Variant="Variant.Text" Class="flex-grow-1" Disabled=@(string.IsNullOrEmpty(Ticker)) />
                        }

                    </div>
                </MudItem>
                <MudItem xs="6">
                    <MudDatePicker Label="Date" @bind-Date="Date" Disabled=@(string.IsNullOrEmpty(Ticker)) />
                </MudItem>

                <MudItem xs="12">
                    @if (!stockPriceExists)
                    {
                        <MudButton @onclick=AddNewStock Variant="Variant.Filled" Color="Color.Primary" Disabled=@(string.IsNullOrEmpty(Ticker) || _pricePerUnit <= 0)>Add</MudButton>
                    }
                    else
                    {
                        <MudButton @onclick=UpdateStockPrice Variant="Variant.Filled" Color="Color.Primary" Disabled=@(string.IsNullOrEmpty(Ticker))>Update</MudButton>
                    }
                </MudItem>
            </MudGrid>
        </MudItem>

    </MudGrid>
</MudContainer>