@page "/Assets"
@using FinanceManager.Components.Components.Dashboard
@using FinanceManager.Components.Components.Dashboard.Cards

<PageTitle>Assets</PageTitle>

<div class="container mt-2">
    <div class="row g-2">
        <div class="col-12">
            <AssetsTimeSeriesCard StartDateTime="DateTime.UtcNow.AddMonths(-1)"/>
        </div>

        <div class="col-md-12 col-lg-4">
            <AssetsPerTypeOverviewCard Height="@($"{1.5 * UnitHeight}px")"/>
        </div>

        <div class="col-md-12 col-lg-4">
            <AssetsPerAccountOverviewCard Height="@($"{1.5 * UnitHeight}px")" />
        </div>

        <div class="col-md-12 col-lg-4">
            <AssetsPerAccountOverviewCard DisplayAsChart="false" Height="@($"{1.5 * UnitHeight}px")" />
        </div>

    @*     <div class="col-md-12 col-lg-6 p-1">
            <InvestmentTypeTimeSeriesCard StartDateTime="DateTime.UtcNow.AddMonths(-1)"  />
        </div> *@

       @*  <div class="col-md-12 col-lg-6 p-1">
            <InvestmentTypeTimeSeriesCard />
        </div>

        <div class="col-md-12 col-lg-6 p-1">
            <InvestmentTypeTimeSeriesCard />
        </div>

        <div class="col-md-12 col-lg-6 p-1">
            <InvestmentTypeTimeSeriesCard />
        </div> *@
     
    </div>
</div>