@page "/AccountDetails/{AccountName}"
@using FinanceManager.Core.Entities.Accounts
@using FinanceManager.Presentation.Components.AccountDetailsPageContents

<div class="container-fluid px-0">
    @if (ErrorMessage != string.Empty)
    {
        <div class="alert alert-warning" role="alert">
            @ErrorMessage
        </div>
    }
    else if (accountType == typeof(BankAccount))
    {
        <BankAccountDetailsPageContent AccountName="@AccountName"></BankAccountDetailsPageContent>
    }
    else if (accountType == typeof(InvestmentAccount))
    {
        <StockAccountDetailsPageContent AccountName="@AccountName"></StockAccountDetailsPageContent>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @accountType type is not supported.
        </div>
    }
</div>
