@page "/AddAccount"
@inherits AddAccountBase

<form>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Account name</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter name" @bind="AccountName" @bind:event="oninput">
        <button class="btn btn-primary" type="button" onclick="@Add">Add account</button>
    </div>
</form>

<br />
<a href="/"> Navigate to home page.</a>
