@page "/Assets"
@using FinanceManager.Presentation.Components.Dashboard
@using FinanceManager.Presentation.Components.Dashboard.Cards

<PageTitle>Assets</PageTitle>
<div class="container mt-2">
    <div class="row">
        <div class="col-12 p-1">
            <AssetsPerTypeTimeSeriesCard StartDateTime="DateTime.UtcNow.AddMonths(-1)" />
        </div>

        <div class="col-md-12 col-lg-4 p-1">
            <AssetsPerTypeOverviewCard />
        </div>

        <div class="col-md-12 col-lg-4 p-1">
            <AssetsPerAccountOverviewCard />
        </div>

        <div class="col-md-12 col-lg-4 p-1">
            <AssetsPerAccountOverviewCard DisplayAsChart="false" />
        </div>

        <div class="col-md-12 col-lg-6 p-1">
            <InvestmentTypeTimeSeriesCard />
        </div>

        <div class="col-md-12 col-lg-6 p-1">
            <InvestmentTypeTimeSeriesCard />
        </div>

        <div class="col-md-12 col-lg-6 p-1">
            <InvestmentTypeTimeSeriesCard />
        </div>

        <div class="col-md-12 col-lg-6 p-1">
            <InvestmentTypeTimeSeriesCard />
        </div>
     
    </div>
</div>