@page "/"
@using FinanceManager.Enums
@inherits HomeBase
<div class="container">
    <PageTitle>Finance manager</PageTitle>

    <div class="row mb-5">
        <h1>Dashboard</h1>
    </div>


    @if (Accounts != null && Accounts.Any())
    {
        <div class="row">
            <AllAccountsSummary Accounts="Accounts" />
        </div>
        <hr class="mb-5" />

        <div class="row">
            @{
                int columnelementCount = 3;

                int rows = (int)Math.Ceiling(Accounts.Count() / (double)columnelementCount);
                int drawnElementsCount = 0;
                @for (int i = 0; i < rows; i++)
                {
                    <div class="row justify-content-center">
                        @for (int j = 0; j < columnelementCount; j++)
                        {
                            if (Accounts.Count() <= drawnElementsCount)
                                continue;

                            AccountModel accountModel = new AccountModel(Accounts.ElementAt(drawnElementsCount).Key, Accounts.ElementAt(drawnElementsCount).Value, AccountType.Other);

                            <div class="col-sm-4 mb-4">
                                <AccountDetailsPreview AccountModel="accountModel" />
                            </div>
                            drawnElementsCount++;
                        }
                    </div>
                }
            }
        </div>
        <hr />
    }
    else
    {
        <div class="row">
            <div class="alert alert-warning" role="alert">
                There is no account data available.<br>
                In order to add data, navigate to <a href="/Import" role="button">Import</a> tab.
            </div>
        </div>
    }

    <div class="row">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onclick="@GetThisMonth">This month</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#" onclick="@GetThisYear"> This year <span class="sr-only"></span></a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="#" onclick="@GetAllTime" tabindex="-1">All time</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
