@page "/"
@inherits HomeBase

<PageTitle>Finance manager</PageTitle>

<h3>Available accounts (@Accounts?.Count())</h3>




@if (Accounts != null && Accounts.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Account name</th>
                <th scope="col">Entries count</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var account in Accounts)
            {
                <tr>
                    <td><a href="/AccountDetails/@account.Key" role="button">@account.Key</a> </td>
                    <td>@account.Value.Count()</td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        There is no account data available.<br>
        In order to add data, navigate to <a href="/Import" role="button">Import</a> tab.
    </div>
}
