@page "/landingpage"
@layout NoNavbarLayout



<MudGrid>
    <MudItem xs="12">
        <MudPaper Elevation="25" Outlined="false">
            <MudToolBar>
                <MudSpacer />
                <MudLink Href="login" Class="py-4" Underline="Underline.None">Login</MudLink>
            </MudToolBar>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" Class="py-5">
        <MudGrid Class="d-flex flex-grow-1 gap-4 align-center" style="min-height: 80vh;">
            <MudItem xs="12" Class="m-4">
                <MudStack>
                    <MudText Typo="Typo.h3" Class="text-center m-1">Dashboard</MudText>
                    <MudText Typo="Typo.subtitle1" Class="text-center m-1">Overview the most important</MudText>
                </MudStack>
            </MudItem>

            <MudItem xs="6" Class="mx-auto">
                <MudImage Fluid="true" Src="imgs/dahboard.jpg" Alt="Swedish Farm House" Class="rounded-lg" />
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" Class="py-5">
        <MudGrid>
            <MudItem xs="6" Class="d-flex flex-grow-1 gap-4 align-center" style="min-height: 50vh;">

                <div class="d-flex flex-grow-1 gap-4">
                    <MudPaper Class="flex-grow-1 py-8" Elevation="0">
                        <MudText Typo="Typo.h3" Class="text-center m-1">Assets</MudText>
                        <MudText Typo="Typo.subtitle1" Class="text-center m-1">Track your assets</MudText>
                    </MudPaper>
                </div>
            </MudItem>

            <MudItem xs="6" Class="d-flex align-center" style="min-height: 50vh;">
                <div class="d-flex flex-grow-1 gap-4">
                    <MudImage Fluid="true" Src="imgs/dahboard.jpg" Alt="Swedish Farm House" Class="flex-grow-1 py-8 rounded-lg mx-auto" />
                </div>
            </MudItem>
        </MudGrid>
    </MudItem>
   
</MudGrid>


@code {

}
