@page "/Lliabilities"
@using FinanceManager.Presentation.Components.Dashboard.Cards

<PageTitle>Lliabilities</PageTitle>
<h3>Lliabilities</h3>

<div class="row">
	<div class="col-sm-12 col-lg-4 p-1">
		<LiabilityOverviewCard StartDateTime="@DateTime.Now.AddMonths(-1)"></LiabilityOverviewCard>
	</div>

	<div class="col-sm-12 col-lg-8  p-1">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Lliabilities distribution pie chart</h5>
				<ChartSpinner></ChartSpinner>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-10 p-1">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Repayment - Time series</h5>
				<div class="row">
					<div class="col-8">

						<ChartSpinner></ChartSpinner>
					</div>
					<div class="col-4">
						<div class="col-12 p-1">Select asset</div>
						<div class="placeholder col-6 m-0 p-0"></div>
						<div class="placeholder col-5 m-0 p-0"></div>
						<div class="placeholder col-6 m-0 p-0"></div>
						<div class="placeholder col-5 m-0 p-0"></div>
						<div class="placeholder col-6 m-0 p-0"></div>
						<div class="placeholder col-5 m-0 p-0"></div>
						<div class="placeholder col-6 m-0 p-0"></div>
						<div class="placeholder col-5 m-0 p-0"></div>
						<div class="placeholder col-6 m-0 p-0"></div>
						<div class="placeholder col-5 m-0 p-0"></div>
						<div class="placeholder col-6 m-0 p-0"></div>
						<div class="placeholder col-5 m-0 p-0"></div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
