@using ApexCharts
@using FinanceManager.Domain.Entities.MoneyFlowModels;

<div class="card" style="background-color:transparent">
    <div class="card-body">
        <h5 class="card-title">Assets per type</h5>
        <div class="row" style="min-height: 150px">
            @if (_priceTimeseries.Any())
            {
                <ApexChart @ref="_chart" TItem="TimeSeriesModel" Height="150" Options=@_options XAxisType="XAxisType.Datetime">
                    <ApexPointSeries TItem="TimeSeriesModel"
                                     Items="_priceTimeseries"
                                     Name="Assets value"
                                     XValue="e => e.DateTime.ToLocalTime()"
                                     YValue="e=> e.Value"
                                     SeriesType="SeriesType.Area"
                                     OrderByDescending="@(e=>e.X)" />
                </ApexChart>
            }
            else
            {
                <div class="d-flex flex-grow-1 justify-center align-content-center flex-wrap">
                    <MudText Typo="Typo.button" HtmlTag="h3">No data</MudText>
                </div>
            }
        </div>
    </div>
</div>

