@inherits AccountDetailsPreviewBase


<div>
    <div class="row justify-content-center ">
        <div class="col">
            <p style="font-weight:bold;">@AccountModel.Name</p>
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col">
            Last balance
        </div>

        <div class="col">
            @AccountModel.Entries.FirstOrDefault()?.Balance zł
        </div>
    </div>

    <div class="row justify-content-center mb-3 ">
        <div class="col">
            Last Posting date
        </div>

        <div class="col">
            @AccountModel.Entries.FirstOrDefault()?.PostingDate
        </div>
    </div>

</div>

