
<div class="container">
    <div class="row justify-content-center">

        <div class="col-4">

            <div class="row mb-2">
                <div class="col" style="font-weight:bold;">
                    Wealth distribution
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    Spent
                </div>

                <div class="col">
                    10zł
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    Invested
                </div>

                <div class="col">
                    10zł
                </div>
            </div>

            <div class="row  mb-2">
                <div class="col">
                    Funds left
                </div>

                <div class="col">
                    10zł
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="row mb-2">
                <div class="col" style="font-weight:bold;">
                    Spending distribution
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    All
                </div>

                <div class="col">
                    10zł
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    Car
                </div>

                <div class="col">
                    10zł
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    Day to day
                </div>

                <div class="col">
                    10zł
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    Investments
                </div>

                <div class="col">
                    10zł
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    Rest
                </div>

                <div class="col">
                    value
                </div>
            </div>
        </div>
    </div>
</div>
