@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

@* <AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView> *@


<div class="">
	Username
</div>
<div class="btn">
	Logout
</div>
@code {
	public void BeginLogOut()
	{
		Navigation.NavigateToLogout("authentication/logout");
	}
	string showState = "show";

	public void DropdownToggle()
	{
		if (showState == "show")
			showState = "";
		else
			showState = "show";
	}
}
