@using FinanceManager.Core.Entities.Login
@using FinanceManager.Core.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject ILoginService LoginService

@* <AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView> *@


@if (userSession is not null)
{
    <MudMenu Label="@userSession.UserName" TransformOrigin="Origin.TopCenter" AnchorOrigin="Origin.BottomCenter" Dense="true">
        <MudMenuItem OnClick="BeginLogOut">Log Out</MudMenuItem>
    </MudMenu>
}

@code {
    UserSession? userSession { get; set; }

    protected override async Task OnInitializedAsync()
    {
        userSession = await LoginService.GetLoggedUser();
    }

    public async Task BeginLogOut()
    {
        await LoginService.Logout();
        Navigation.NavigateToLogout("login");
    }

}
