<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <MudLink Class="px-4" href="" Underline="Underline.None">
            <MudText Typo="Typo.h6">Finance Manager</MudText>
        </MudLink>

        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">@ApplicationVersion.Version</MudText>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <MudIcon Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" />
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (Accounts is not null && Accounts.Any())
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-speedometer2 navbarIcon" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Assets" Match="NavLinkMatch.All">
                    <span class="bi bi-currency-exchange navbarIcon" aria-hidden="true"></span> Assets
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Lliabilities" Match="NavLinkMatch.All">
                    <span class="bi bi-clipboard2-data navbarIcon" aria-hidden="true"></span> Lliabilities
                </NavLink>
            </div>

            <br>
            <div class="nav-item px-3" style="padding-bottom: 0.0rem">
                Accounts
            </div>

            @foreach (var account in Accounts)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link py-0" href="@($"AccountDetails/{account.Key}")" Match="NavLinkMatch.All">
                        <span class="bi bi-wallet-fill navbarIcon" aria-hidden="true"></span>@account.Value
                    </NavLink>
                </div>
            }

            <div class="nav-item px-3">
                <NavLink class="nav-link py-0" href="AddAccount" Match="NavLinkMatch.All">
                    <span class="bi bi-plus navbarIcon" aria-hidden="true"></span>Add
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
