@using ApexCharts
@using FinanceManager.Components.Components.Charts
@using FinanceManager.Domain.Entities.MoneyFlowModels;


<div class="card">
    <div class="row m-0">
        <div class="card-body">
            <h5 class="card-title">Liabilities value over time</h5>
        </div>
    </div>
    <div class="row" style="min-height: 150px; position:relative; bottom:-2px">
        @if (ChartData.Any())
        {
             <LineChartJs Series="@([ChartData.Select(x => new ChartJsLineDataPoint(x.DateTime.ToLocalTime(), x.Value)).ToList()])" />
        }
        else
        {
            <div class="d-flex flex-grow-1 justify-center align-content-center flex-wrap">
                <MudText Typo="Typo.button" HtmlTag="h3">No data</MudText>
            </div>
        }
    </div>
</div>