name: .NET Core CI

on: [push, pull_request]
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]

permissions:
  checks: write
  pull-requests: write
  contents: read

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0' # Change this to match your SDK version

      - name: Restore dependencies
        run: dotnet restore ./code

      - name: Clean the solution
        run: dotnet clean ./code

      - name: Build the solution
        run: dotnet build ./code --no-restore --configuration Release

      - name: Run tests
        run: dotnet test ./code --no-build --configuration Release --logger "trx;LogFileName=test-results.trx" --results-directory TestResults

      - name: Publish test results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: 'Test Results'
          path: 'TestResults/*.trx'
          reporter: dotnet-trx


# name: CI
# on: [push, pull_request]

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4

#       - uses: actions/setup-dotnet@v4
#         with:
#           dotnet-version: '9.0'

#       # run from the directory that contains your projects
#       - name: Restore
#         run: dotnet restore ./code

#       - name: Build
#         run: dotnet build ./code --configuration Release --no-restore

      # - name: Run tests (with coverage)
      #   run: dotnet test ./code --configuration Release --no-build --collect:"XPlat Code Coverage" --results-directory ./TestResults

      # - name: Install ReportGenerator
      #   run: dotnet tool install -g dotnet-reportgenerator-globaltool

      # - name: Create Single Coverage Report file with ReportGenerator
      #   run: reportgenerator "-reports:coverlet\*.cobertura" "-targetdir:coverlet\report" -reporttypes:Cobertura

      # - name: Generate Coverage Markdown Report
      #   uses: clearlyip/code-coverage-report-action@v4
      #   id: code_coverage_report_action
      #   with:
      #       filename: 'coverlet\report\Cobertura.xml'
      # - name: Publish code coverage results
      #   uses: codecov/upload-artifact@v3
      #   with:
      #       name: code-coverage-report
      #       path: '**/coverage.cobertura.xml'

      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v4
      #   with:
      #       directory: ./coverlet/report/
      #       fail_ci_if_error: false
      #       files: Cobertura.xml
      #       flags: unittests
      #       name: FluxDigital.Extensions
      #       token: ${{ secrets.CODECOV_TOKEN }}
      #       slug: fluxdigital/FluxDigital.Extensions
      #       verbose: true

      # - name: Run tests
      #   run: dotnet test ./code --no-build --configuration Release --logger "trx;LogFileName=test-results.trx" --results-directory TestResults

      # - name: Publish test results
      #   uses: dorny/test-reporter@v1
      #   if: always()
      #   with:
      #     name: 'Test Results'
      #     path: 'TestResults/*.trx'
      #     reporter: dotnet-trx

      # - name: Verify formatting
      #   run: dotnet format ./code --verify-no-changes